@charset "utf-8";

#dc_header_wrap { position: relative; width: 100%; }

#dc_header_wrap .dc_logo_block { position: absolute; top:0; left:0; width: 220px; height:250px; }
.dc_logo_block .dc_link { overflow: hidden; width:100%; background: #393c46; }
.dc_logo_block .dc_link li { float: left; position: relative; width:72px; border-left:1px solid #61636b; background: url(../../images/common/icon_all.png) no-repeat; }
.dc_logo_block .dc_link li:first-child { width:73px; border: none; }
.dc_logo_block .dc_link li a { text-decoration: none; cursor:pointer}
.dc_log_info { border-top:1px solid #fff; }
.dc_log_info p { color: #fff; }

#dc_container_wrap { overflow: hidden; position: relative; width:100%; background:url(../../images/common/bg_ie7.png) repeat-y 0 0; padding-top: 0px; }

/* side navigation : 전체열기 닫기 */
#dc_sub_nav_wrap { float:left; width: 219px; height: 100%; margin-right:16px; margin-top: 105px; background: #41c4b6; border-right:1px solid #dfdfdf}

/* select */
.dc_content_top H2 { float: left; margin: 9px 30px 0 0; }
.dc_select_style { *display: inline; float: left; margin-right:5px; vertical-align: middle; background: #fff; border: 2px solid #29a79a; border-radius: 5px; box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2) }

/* quick */
#dc_quick_wrap { overflow: hidden; position: absolute; top: 0px; right:0px; width: 50px; min-height:100%; height: auto !important; background: url(../../images/common/bg_side_quick.png) repeat-y; z-index: 5; }
.dc_quick_bottom { position:absolute; bottom: 0px; left: 0; z-index:999;}