@charset "utf-8";

/* Login */
body{ background: url(../../images/common/login_bg.jpg) no-repeat #9c9c9c;  }
#dc_wrap{ position: relative; width: 100%; }
.dc_login_wrap{ position: relative; width: 100%; padding: 240px 0;  }
.dc_login_wrap .dc_login{ position: relative; width: 480px; height: 370px; margin: auto; border-radius: 10px; background: #fff;  }

/* Login_input */
.dc_login_wrap .dc_login .dc_login_input{ width: 480px; height: 370px; float: left;  }
.dc_login_wrap .dc_login .dc_login_input h1{ text-align: center; padding: 30px 0 10px 0;  }
.dc_login_wrap .dc_login .dc_login_input #user_id{ display: block; width: 250px; height: 45px; line-height: 45px; padding: 0; padding-left: 50px; margin: 0 auto 10px auto; border-radius: 5px; background: url(../../images/common/login_icon_id.gif) no-repeat 15px 15px #ededed; }
.dc_login_wrap .dc_login .dc_login_input #user_pw{ display: block; width: 250px; height: 45px; line-height: 45px; padding: 0; padding-left: 50px; margin: 0 auto 15px auto; border-radius: 5px; border: 1px solid #d1d1d1; box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1); background: url(../../images/common/login_icon_pw.gif) no-repeat 15px 15px #ededed; }
.dc_login_wrap .dc_login .dc_login_input #fm_check0101{ margin-left: 95px; }
.dc_login_wrap .dc_login .dc_login_input label[for="fm_check0101"]{ margin-left: 5px; font-size: 12px; color: #666; }
.dc_login_wrap .dc_login .dc_login_input .btn_login{ display: block; width: 300px; height: 45px; line-height: 45px; margin: 30px auto 0 auto; text-align: center; border-radius: 5px; background: #4083C0; font-family: OpenSans-Light, "NanumBarunGothic", 나눔바른고딕, "dotum", 돋움 }
.dc_login_wrap .dc_login .dc_login_input .btn_login a{ display: inline-block; width: 300px; height: 45px; line-height: 45px; font-size: 16px; font-weight: 600; color: #fff; }
.dc_login_wrap .dc_login .dc_login_input .dc_login_title { padding: 0 0 20px 0; }
.dc_login_wrap .dc_login .dc_login_input .dc_login_title h2 { text-align: center; font-size: 16px; font-weight:600; color: #5A7EB9; }

/* Login_txt */
.dc_login_wrap .dc_login .dc_login_web{ width: 200px; height: 370px; float: left; padding: 0 40px;  }
.dc_login_wrap .dc_login .dc_login_web h2{ padding: 70px 0 55px 0; font-size: 22px; font-weight: 600; color: #fff; }
.dc_login_wrap .dc_login .dc_login_web .txt01{ padding: 5px 0 15px 0; font-size: 20px; color: #fff; }
.dc_login_wrap .dc_login .dc_login_web .txt02{ padding: 0px 0 35px 0; font-size: 13px; color: #fff; border-bottom: 1px solid #91d0c9; border-color: rgba( 255, 255, 255, 0.5); }
.dc_login_wrap .dc_login .dc_login_web .btn_web{ display: block; width: 200px; height: 45px; line-height: 45px; margin-top: 60px; text-align: center;  }
.dc_login_wrap .dc_login .dc_login_web .btn_web a{ display: inline-block; width: 200px; height: 45px; line-height: 45px; font-size: 16px; color: #fff; border-radius: 5px; background: #24897e; background-color: rgba( 0, 0, 0, 0.2); }
.dc_login_wrap .dc_login .dc_login_web .btn_web a:hover, .dc_login_wrap .dc_login .dc_login_web .btn_web a:focus { background: #24897e; background-color: rgba( 0, 0, 0, 0.3);}

/* Join */
.join { display: block; margin: 30px auto 0 auto; text-align: center; font-family: OpenSans-Light, "NanumBarunGothic", 나눔바른고딕, "dotum", 돋움 }

.join_wrap{ position: relative; width: 100%; padding: 85px 0;  }
.join_wrap .join_form{ position: relative; width: 700px; height: 770px; margin: auto; border-radius: 10px; background: #fff;  }

.join_wrap .join_form .join_input{ width: 700px; height: 770px; float: left;  }
.join_wrap .join_form .join_input input{ display: block; width: 280px; height: 45px; line-height: 45px; padding: 0; padding-left: 20px; margin: 0 auto 10px auto; border-radius: 5px; }
.join_wrap .join_form .join_input select{ display: block; width: 303px; height: 45px; line-height: 45px; padding: 0; padding-left: 20px; margin: 0 auto 10px auto; border-radius: 5px; }
.join_wrap .join_form .join_input .btn_join_area{ display: block; width: 300px; height: 45px; line-height: 45px; margin: 30px auto 0 auto;}
.join_wrap .join_form .join_input .btn_join_area a{ display: inline-block; width: 145px; height: 45px; line-height: 45px; text-align: center; border-radius: 5px; background: #4083C0; font-size: 16px; font-weight: 600; color: #fff; }
.join_wrap .join_form .join_input .btn_join_area .btn_join_cancel{ display: inline-block; width: 143px; height: 45px; line-height: 45px; text-align: center; border-radius: 5px; margin-left:10px; background: #FFFFFF; font-size: 16px; font-weight: 600; color: #000; border: 1px solid #000;}
.join_wrap .join_form .join_input .join_title { padding: 50px 0 30px 0; }
.join_wrap .join_form .join_input .join_title h1 { text-align: center; font-size: 25px; font-weight:600; letter-spacing: 5px; color: #5A7EB9; }

/* Search */
.search { display: block; margin: 30px auto 0 auto; text-align: center; font-family: OpenSans-Light, "NanumBarunGothic", 나눔바른고딕, "dotum", 돋움 }

.search_wrap { position: relative; width: 100%; padding: 200px 0;  }
.search_wrap .search_form{ position: relative; width: 700px; height: 500px; margin: auto; border-radius: 10px; background: #fff;  }

.search_wrap .search_form .search_input .search_title { padding: 0 0 60px 0; }
.search_wrap .search_form .search_input .search_title .btn_close { height : 90px; line-height: 90px; text-align:right; }
.search_wrap .search_form .search_input .search_title .btn_close a { font-size: 30px; color: #5A7EB9; margin-right:30px; opacity:.3; }
.search_wrap .search_form .search_input .search_title .btn_close a:hover { color: #5A7EB9; opacity:1; }
.search_wrap .search_form .search_input .search_title h1 { text-align: center; font-size: 25px; font-weight:600; letter-spacing: 5px; color: #5A7EB9; }
.search_wrap .search_form .search_input input { display: block; width: 280px; height: 45px; line-height: 45px; padding: 0; padding-left: 20px; margin: 0 auto 10px auto; border-radius: 5px; }
.search_wrap .search_form .search_input div em { position: absolute; margin-left: 510px; margin-top: -43px; color: #a94442; font-weight: 700;}
.search_wrap .search_form .search_input .search_pw { text-align: center; line-height: 20px; margin: 50px auto 10px auto; color: #a94442; font-weight: 700; font-size: 14px; }
.search_wrap .search_form .search_input .btn_search { display: block; width: 300px; height: 45px; line-height: 45px; margin: 30px auto 30px auto; text-align: center; border-radius: 5px; background: #4083C0; font-family: OpenSans-Light, "NanumBarunGothic", 나눔바른고딕, "dotum", 돋움 }
.search_wrap .search_form .search_input .btn_search a { display: inline-block; width: 300px; height: 45px; line-height: 45px; font-size: 16px; font-weight: 600; color: #fff; }

/* footer */
#dc_footer { position: absolute; bottom: 50px; left: 50%; margin-left: -170px; }
#dc_footer .copyright{ text-align: center; }
