/* Write your custom CSS here */

.no_margin_horizonal { margin-right: 0px !important; margin-left: 0px !important;}
.no_margin_vertical { margin-top: 0px !important; margin-bottom: 0px !important;}
.no_margin_bottom {margin-bottom: 0px !important;}
.margin_10 {margin-top: 10px !important; margin-bottom: 10px !important;}
.margin_20 {margin-top: 20px !important; margin-bottom: 20px !important;}
.margin_top_10 {margin-top: 10px !important;}
.margin_top_30 {margin-top: 30px !important;}
.margin_top_50 {margin-top: 50px !important;}
.margin_right_4 {margin-right: 4px !important;}
.margin_right_8 {margin-right: 8px !important;}

.no_padding_horizonal {padding-left: 0px !important; padding-right: 0px !important;}
.no_padding_vertical {padding-top: 0px !important; padding-bottom: 0px !important;}
.no_padding_right {padding-right: 0px !important;}
.no_padding_top {padding-top:0px !important;}
.padding_right_10 {padding-right: 10px !important;}
.padding_right_20 {padding-right: 20px !important;}
.padding_top_5  {padding-top: 5px !important;}
.padding_bottom_5  {padding_bottom: 5px !important;}
.padding_10 {padding:10px !important;}
.space_5 {padding-left: 4px !important;}

/* jquery validate CSS 재정의 */
.help-block {color:red !important;}
.width100per {width: 100% !important;}

/* 수평구조 라디오 버튼 간격 */
.radio_pr { padding-right:35px; }
.check_pb { padding-bottom:5px; }

/* 심의신청 - 필드 추가시 속성  */
.field_pT > div { padding-top:10px; }
.field_pB > div { padding-bottom:10px; }

/* 심의신청 테이블 속성 */
#appl_table th { background-color:#ECEBFF; text-align:center; }

/* tab 속성 */
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover { background-color:#6a5fac; color:#fff;}

/* 교육신청 테이블 속성 */
#edu_appl_table th { background-color:#ECEBFF; }